<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838321152874-bs8bq6550d3eg7tmi6h2roei4fhl975u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838321152874-bs8bq6550d3eg7tmi6h2roei4fhl975u</string>
	<key>API_KEY</key>
	<string>AIzaSyA9QcEb699pB6lvnxcBtvNoTsHQEoibEL8</string>
	<key>GCM_SENDER_ID</key>
	<string>838321152874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseauth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-4580b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-4580b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838321152874:ios:a477c964bf8fa8f35dbb13</string>
</dict>
</plist>